.hidden {
    display: none;
}

body {
    margin: 0;
}
header {
    background-color: #FBBA00;
    padding: 10px;
}
header > h1 {
    margin: 0;
}

#login {

}
#login input {
    border: 2px solid black;
}
#login button {
    margin-top: 10px;
}
