BUEFFLER_DB_HOST='localhost'
BUEFFLER_DB_USER='root'
BUEFFLER_DB_PASS='aA1234Aa'
BUEFFLER_DB_NAME='buefflerdb'

BUEFFLER_SMTP_FROM='"Der Büffler" <fiadmin@localhost>'
BUEFFLER_SMTP_USER='fiadmin'
BUEFFLER_SMTP_PASS='aA1234Aa'
BUEFFLER_SMTP_HOST='localhost'
BUEFFLER_SMTP_PORT=25
BUEFFLER_SMTP_REJECTSELFSIGNED=false
BUEFFLER_SMTP_SSLPORT465=false

BUEFFLER_CRON='0 7 * * SAT'

BUEFFLER_VAPID_PUBLIC='BHm1GIUIGMm3R47i5qRCPCo6oU4Z7dlc_g2JkXptkvcZOFLlobRAgJWpAmzKOrbiKBtBR69J4iB9-ISA_X8suNc'
BUEFFLER_VAPID_PRIVATE='S_vmLED21JvKAfra5zDg3woYMZeJWjRVaB5Dc1up_FA'
