.hidden {
    display: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    @media (width < 50rem) {
        font-size: 1.2rem;
    }
}

header {
    background-color: #FBBA00;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media (width < 36rem) {
        flex-direction: column;
    }
}
header > h1 {
    margin: 0;
    @media (width < 36rem) {
        text-align: center;
    }
}
nav {
    display: flex;
}
nav > a > img {
    height: 48px;
}
nav > a > img:hover {
    filter: saturate(100%) invert(20%) sepia(90%) saturate(1000%) hue-rotate(185deg) brightness(90%) contrast(90%);
}
nav > .current-page > img {
    filter: saturate(100%) invert(100%) sepia(100%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
nav > .current-page > img:hover {
    filter: saturate(100%) invert(20%) sepia(100%) saturate(1000%) hue-rotate(185deg) brightness(120%) contrast(100%);
}

#login-main {
    padding: 10px;
}
#login input {
    border: 2px solid black;
}
#login button {
    margin-top: 10px;
}

main {
    padding: 10px;
}
